<section class="outer units">

    <h1>Unit Listing</h1>

    <table>
        <thead>
            <tr>
                <td>Unit</td>
                <td>Contact Scouter</td>
                <td>#Y</td>
                <td>#L</td>
                <td>Final Payment</td>
                <td>Selection Status</td>
                <td>Can Login?</td>
            </tr>
        </thead>
        <tbody>
            {{#each units}}
              <tr>
                <td><a href="/units/{{this.id}}">{{this.unit_number}} - {{this.unit_name}}</a></td>
                <td><a href="mailto:{{this.contact_email}}">{{this.contact_name}}</a></td>
                <td>{{this.number_of_youth}}</td>
                <td>{{this.number_of_leaders}}</td>
                <td>
                    {{#if this.final_payment_date}}
                        <a href=""></a>{{format_date 'YYYY/MM/DD' this.final_payment_date}}
                    {{else}}
                        Not Received
                    {{/if}}
                </td>
                <td>{{{program_selection_status_icon_helper this.ProgramSelection}}}</td>
                <td></td>
              </tr>
            {{/each}}
        </tbody>
    </table>

</section>
