<section class="outer units schedules">

  <h1>Unit Schedules</h1>
  <p>{{units.length}} Units</p>

  {{#each units}}

    <h2><a href="/units/{{this.id}}" target=_blank>{{this.id}} - {{this.unit_number}} - {{this.unit_name}} ({{period_count this.ProgramPeriods}} of 11)</a></h2>
    <p>Youth: {{this.number_of_youth}} • Leaders: {{this.number_of_leaders}} • Total: {{this.total_participants}}</p>
    <p>Final Payment Date: {{format_date "YYYY-MM-DD" this.final_payment_date}}</p>
    <p>Extra free period: {{this.ProgramSelection.extra_free_period}}</p>
    {{#each this.ProgramPeriods}}
      <h3>{{this.id}} - {{format_date 'dddd' this.start_at}} {{humanized_period this}}</h3>
      <p>{{{offsite_icon this.Program}}}{{this.Program.full_name_text}} {{{starred_activity this.Program false}}}</p>
    {{/each}}

    <hr/>
    <div class="page-break"></div>
  {{/each}}

</section>