{{#with unit}}

<section class="unit outer">
    <h1>{{unit_name}} <span class="lighter_weight">&mdash;</span> {{unit_number}}</h1>

    <section class="unit_information">
        <h2>Unit Information</h2>
        <p class="label">Contact Scouter</p>
        <p>{{contact_name}}</p>

        <p class="label">Contact Email</p>
        <p>{{contact_email}}</p>

        <p class="label">Number of Youth</p>
        <p>{{number_of_youth}}</p>

        <p class="label">Number of Leaders</p>
        <p>{{number_of_leaders}}</p>

        <p class="label">Final Payment Date</p>
        <p>
            {{#if this.final_payment_date}}
                <a href=""></a>{{format_date 'YYYY-MM-DD' this.final_payment_date}}
            {{else}}
                Not Received
            {{/if}}
        </p>

        <p class="label">Notes</p>
        <p>{{notes}}</p>

        {{#user_can 'edit unit'}}
        <section class="outer">
            <a href="/units/{{id}}/edit" class="button">
                <i class="fa fa-edit"></i>Edit Unit
            </a>
            <a href="/units/{{id}}/delete" class="button red">
                <i class="fa fa-remove"></i>Delete Unit
            </a>
        </section>
        {{/user_can}}
    </section>

    <section id="unit_schedule" class="unit_schedule">{{{../reactHtml}}}</section>
</section>


{{/with}}

<script type="application/json" id="dehydrated_data">{{{dehydrated_data}}}</script>