<section class="outer unit schedule">

<h1>Unit Schedule</h1>
<h2>{{unit.unit_number}} - {{unit.unit_name}}</h2>
<hr/>
{{#each unit.ProgramPeriods}}
  <h3>{{format_date 'dddd' this.start_at}} {{humanized_period this}}</h3>
  <h4>{{{program_link this.Program}}} {{{starred_activity this.Program false}}}</h4>
  {{#if this.BusDeparture}}
  <h5>{{{offsite_icon this.Program}}} Bus {{join this.BusDeparture.bus_number ' / '}} &nbsp;&nbsp; <i class="fa fa-clock-o"></i> Departs at {{format_time_string 'h:mm A' this.BusDeparture.departure_time}}</h5>
  {{/if}}
  <section style="margin-top: 1em;" class="program_details">
    {{#markdown typeographer=true}}{{this.Program.description}}{{/markdown}}
    <section class="prerequisites_skills_equipment">
        <section class="prerequisites">
            <h2>Prerequisites</h2>
            {{{list_or_none this.Program.prerequisites}}}
        </section>

        <section class="skills_equipment">
            <h2>Skills/Equipment Required</h2>
            {{{list_or_none this.Program.knowledge_skills_equipment}}}
        </section>
    </section>

  </section>

  <hr/>
{{/each}}
</section>