<!DOCTYPE html>
<html>
  <head>
    <title>PJ 2015 Program {{title}}</title>
    <!--[if lt IE 9]>
        <script src="/dist/ie-less-than-9.js"></script>
    <![endif]-->

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/dist/common.js"></script>
  </head>
  <body>
    {{> navbar}}

    {{#unless production}}
      <div class="flash-alert" style="text-align: center">
        Development Mode
      </div>
    {{/unless}}
    {{#if messages}}
    <section class="outer messages">
      {{#if messages.error}}
        {{#each messages.error}}
          <div class="flash-error">
            <span>{{this}}</span>
          </div>
        {{/each}}
      {{/if}}

      {{#if messages.success}}
        {{#each messages.success}}
          <div class="flash-success">
            <span>{{this}}</span>
          </div>
        {{/each}}
      {{/if}}
    </section>
    {{/if}}

    {{{body}}}

    <script src="/dist/main.js"></script>
    {{#if body_scripts}}
      {{#each body_scripts}}
        <script src="{{this}}"></script>
      {{/each}}
    {{/if}}
  </body>
</html>
