<h1>Program OOS Assignments</h1>

<p>
    Filter by Assignment:
    <select class="assignmentFilter">
        <option value="all">All</option>
        <option value="unassigned" selected>Unassigned</option>
        {{> program_select}}
    </select>
</p>

<p>Total: {{staff.length}}</p>

<table>
    <thead>
        <tr>
            <td>OOS ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Assigned To</td>
        </tr>
    </thead>
    <tbody>
        {{#each staff}}
          <tr>
            <td><a href="/oos/{{this.id}}">{{this.oos_number}}</a></td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>
                {{> program_select oos=this programs=../programs}}
            </td>
          </tr>
        {{/each}}
    </tbody>
</table>

<script>

    var filter = window.location.search.substring(1).split('=')[1] || 'all';
    $('.assignmentFilter [value="' + filter + '"]').attr('selected', true);

    $('.assignmentFilter').on('change', function(el) {
        var val = $(this).val();
        window.location = '/?program=' + val;
    });

</script>