<section class="outer status">

  <h1>Program Status</h1>

  <div class="cards">
    <div class="card">
      <div class="card-header">
        <p>Units</p>
      </div>
      <div class="card-copy">
        <p>{{unit_count}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <p>Participants</p>
      </div>
      <div class="card-copy">
        <p>{{total_participants}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <p>Youth</p>
      </div>
      <div class="card-copy">
        <p>{{total_youth}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <p>Leaders</p>
      </div>
      <div class="card-copy">
        <p>{{total_leaders}}</p>
      </div>
    </div>


  </div>


  <hr/>
  {{#each data}}
    <h2>{{{offsite_icon this.program}}} {{this.program.name}}</h2>
    <p>Loading per-period: {{this.program.max_participants_per_period}}</p>
    <a href="/programs/{{this.id}}/schedule">Detailed Schedule</a>
    <table>
      <thead>
        <tr>
          {{#each this.periods}}
            <td title="{{this.id}}">{{this.start_at}}</td>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          {{#each this.periods}}
            <td class="{{this.status}}">{{this.available}}</td>
          {{/each}}
        </tr>
      </tbody>
    </table>

    <hr/>
  {{/each}}
</section>

<style>

table {
  text-align: center;
}

th, td {
  border: 1px solid #ccc !important;
}

td.red {
  background-color: rgb(255, 124, 124);
  font-weight: bold;
}

</style>