<section class="program outer">

{{!--     <p>Select a program activity from the list on the left to read that program's details. It is important to review all of the information before adding an activity to your selection list. Some programs require special equipment, or may have extra costs. Read carefully before choosing!</p>

    <p>Some activities are marked with a <span class="glyphicon glyphicon-star"></span>. These activities are the high-cost, low participant-ratio activities. You will only receive one of these activities.</p>

    <p>To add a program activity to your selection, click the "Select Activity" button.</p> --}}


    <section class="program_list">
        {{>programs/program_list}}
    </section>

    <section class="program_entry">
        {{#if program}}
            <section class="title_controls">
              <div class="title"><h1>{{{starred_activity program false}}}{{{program.full_name_html}}}</h1>
              </div>
              {{> programs/program_controls_button this }}
            </section>

            <hr>
            {{#with program}}

            <section class="program_quickfacts">
                <table>
                    <thead>
                        <tr>
                            <td><i class="fa fa-clock-o"></i>Duration</td>
                            <td><i class="fa fa-map-marker"></i>Location</td>
                            <td><i class="fa fa-heart-o"></i>Fitness Level</td>
                            <td><i class="fa fa-dollar"></i>Additional Cost</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{duration}}</td>
                            <td>{{location}}</td>
                            <td>{{fitness_level}}</td>
                            <td>{{additional_cost}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section>
                {{#markdown typeographer=true}}{{description}}{{/markdown}}
            </section>

            <section class="prerequisites_skills_equipment">
                <section class="prerequisites">
                    <h2>Prerequisites</h2>
                    {{{list_or_none prerequisites}}}
                </section>

                <section class="skills_equipment">
                    <h2>Skills/Equipment Required</h2>
                    {{{list_or_none knowledge_skills_equipment}}}
                </section>
            </section>

            {{#user_can 'view oos'}}
            {{> programs/program_oos_assigned}}
            {{/user_can}}

        {{/with}}

        {{else}}
            <p>Select a program</p>
        {{/if}}
    </section>

</section>
