<section class="program outer">

<h1>{{program.name}}</h1>

<p>Maximum Participants per Period: {{program.max_participants_per_period}}</p>

<a href="/programs/{{program.id}}/schedule.csv" class="button">
    <i class="fa fa-file-text-o"></i>Download Schedule CSV
</a>

{{#each periods}}
  <hr/>
  <h2 title="{{this.id}}">{{format_date 'dddd' this.start_at}} {{humanized_period this}}</h2>
  <p>Units: {{this.Units.length}}</p>
  <p>Youth: {{number_of_youth this.Units}} • Leaders: {{number_of_leaders this.Units}} • Total: {{total_participants this.Units}}</p>
  <p>Remaining Space: {{remaining_space this this.Units}}
  {{#if this.BusDeparture}}
  <p>{{{offsite_icon this.Program}}} Bus {{join this.BusDeparture.bus_number ' / '}} &nbsp;&nbsp; <i class="fa fa-clock-o"></i> Departs at {{format_time_string 'h:mm A' this.BusDeparture.departure_time}}</p>
  {{/if}}
   <table>
      <thead>
          <tr>
              <td>Unit Number</td>
              <td>Unit Name</td>
              <td># of Youth</td>
              <td># of Leaders</td>
              <td>Total Participants</td>
          </tr>
      </thead>
      <tbody>
        {{#each this.Units}}
          <tr>
            <td title="{{this.id}}">{{this.unit_number}}</td>
            <td>{{this.unit_name}}</td>
            <td>{{this.number_of_youth}}</td>
            <td>{{this.number_of_leaders}}</td>
            <td>{{this.total_participants}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

{{/each}}

</section>