<section class="outer oos_assignment">

<h1>Program OOS Assignments</h1>

<p>
    Filter by Assignment:
    <select class="assignmentFilter">
        <option value="all">All</option>
        {{> programs/program_select}}
    </select>
</p>

<p>Total: {{oos.length}}</p>

<table>
    <thead>
        <tr>
            <td>OOS ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Assigned To</td>
            <td>Recruited By</td>
            <td>Notes</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {{#each oos}}
          <tr>
            <td><a href="/oos/{{this.id}}">{{this.oos_number}}</a></td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>
                {{#user_can "edit oos"}}
                    <select data-id="{{this.id}}" name="program_id" class="program_id">
                        {{> programs/program_select oos=this programs=../../programs}}
                    </select>
                {{else}}
                    {{this.Programs.0.name}}
                {{/user_can}}
            </td>
            <td>{{this.recruited_by}}</td>
            <td>{{this.notes}}</td>
            <td>
                <span class="ajax-status"><i data-id="{{this.id}}" class="status fa"></i></span>
                <div class="dropdown">
                  <div class="dropdown-container">
                    <p class="dropdown-button"><i class="fa fa-gear"></i></p>
                    <ul class="dropdown-menu dropdown-select">
                      <li><a data-id="{{this.id}}" class="send_welcome_email" href="/oos/{{this.id}}/send_email/welcome">Send Welcome Email</a></li>
                    </ul>
                  </div>
                </div>
            </td>
          </tr>
        {{/each}}
    </tbody>
</table>

</section>


<script>

    function getQueryVariable(variable) {
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
           var pair = vars[i].split("=");
           if(pair[0] == variable){return pair[1];}
       }
       return(false);
    }

    var filter = getQueryVariable('program');
    if (filter) { $('.assignmentFilter [value="' + filter + '"]').attr('selected', true); }

    $('.assignmentFilter').on('change', function(el) {
        var val = $(this).val();
        var location = '/oos';
        window.location = val.toLowerCase() === 'all' ? location : location + '?program=' + val;
    });

    $('.program_id').on('change', function(el) {
        var $this = $(this);
        var oosId = $this.data('id');
        var $status_icon = $('i[data-id="' + oosId + '"]');
        $.ajax({
            url: '/oos/' + oosId,
            type: 'post',
            data: {program_id: $this.val()},
            success: function(data, status, xhr) {
                $status_icon.addClass('fa-check-circle');
                window.setTimeout(function() {
                    $status_icon.removeClass('fa-check-circle');
                }, 5000);
            },
            error: function(xhr, status, error) {
                $status_icon.addClass('fa-times-circle-o');
            }

        });
    });

    $(document).ready(function(){
      $(".dropdown-button").click(function(ev) {
        $this = $(this);
        var clearing_current = $this.next().hasClass('show-menu') ? true : false;

        if (clearing_current) {
            $this.next().toggleClass('show-menu');
        } else {
            $(".dropdown-menu").removeClass("show-menu");
            $this.next().toggleClass('show-menu');
        }
        $(".dropdown-menu > li").click(function(){
          $(".dropdown-menu").removeClass("show-menu");
        });
        // $(".dropdown-menu.dropdown-select > li").click(function() {
        // });
      });

      $('.send_welcome_email').click(function(ev) {
        ev.preventDefault();
        var href = this.href;
        $this = $(this);
        var oosId = $this.data('id');
        var $status_icon = $('i[data-id="' + oosId + '"]');
        $.ajax({
            url: href,
            type: 'get',
            success: function(data, status, xhr) {
                $status_icon.addClass('fa-check-circle');
                window.setTimeout(function() {
                    $status_icon.removeClass('fa-check-circle');
                }, 5000);
            },
            error: function(xhr, status, error) {
                $status_icon.addClass('fa-times-circle-o');
            }
        });
      });

    });


</script>