<section class="outer">

<h1>Program OOS Assignments</h1>

<p>
    Filter by Assignment:
    <select class="assignmentFilter">
        <option value="all">All</option>
        {{> programs/program_select}}
    </select>
</p>

<p>Total: {{oos.length}}</p>

<table>
    <thead>
        <tr>
            <td>OOS ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Assigned To</td>
            <td>Recruited By</td>
        </tr>
    </thead>
    <tbody>
        {{#each oos}}
          <tr>
            <td><a href="/oos/{{this.id}}">{{this.oos_number}}</a></td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>
                <select data-id="{{this.id}} "name="program_id" class="program_id">
                    {{> programs/program_select oos=this programs=../programs}}
                </select>
            </td>
            <td>{{this.recruited_by}}</td>
          </tr>
        {{/each}}
    </tbody>
</table>

</section>


<script>

    var filter = window.location.search.substring(1).split('=')[1] || 'all';
    $('.assignmentFilter [value="' + filter + '"]').attr('selected', true);

    $('.assignmentFilter').on('change', function(el) {
        var val = $(this).val();
        var location = '/oos';
        window.location = val.toLowerCase() === 'all' ? location : location + '?program=' + val;
    });

    $('.ProgramId').on('change', function(el) {
        var $this = $(this);
        var oosId = $this.data('id');
        $.post('/oos/' + oosId, {ProgramId: $this.val()}, function(data, status, xhr) { console.log(arguments);});
    });
</script>