<section class="outer oos_assignment">

<h1>Program OOS Assignments</h1>

<section class="oos_controls">

    <div class="filter">
        <p>
            Filter by Assignment:
            <select class="assignmentFilter">
                <option value="all">All</option>
                {{> programs/program_select}}
            </select>
        </p>

        <p>Total: {{oos.length}}</p>
    </div>

    <div class="buttons">
        <a class="csv_export button" href="oos/csv"><i class="fa fa-file-text-o"></i>Export OOS list as CSV</a>
    </div>
</section>

<hr/>


<table>
    <thead>
        <tr>
            <td>OOS ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Assigned To</td>
            <td>Recruited By</td>
            <td>Notes</td>
            <td>Age</td>
            {{#user_is 'admin,hq staff'}}
            <td></td>
            {{/user_is}}
        </tr>
    </thead>
    <tbody>
        {{#each oos}}
          <tr>
            <td><a href="/oos/{{this.id}}">{{this.oos_number}}</a></td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>
                {{#user_can "edit oos"}}
                    <select data-id="{{this.id}}" name="program_id" class="program_id">
                        {{> programs/program_select oos=this programs=../../programs}}
                    </select>
                {{else}}
                    {{this.Programs.0.name}}
                {{/user_can}}
            </td>
            <td>{{this.recruited_by}}</td>
            <td>{{this.notes}}</td>
            <td>{{this.current_age}}</td>
            {{#user_is 'admin,hq staff'}}
            <td>
                <span class="ajax-status"><i data-id="{{this.id}}" class="status fa"></i></span>
                <div class="dropdown">
                  <div class="dropdown-container">
                    <p class="dropdown-button"><i class="fa fa-gear"></i></p>
                    <ul class="dropdown-menu dropdown-select">
                      <li><a data-id="{{this.id}}" class="send_welcome_email" href="/oos/{{this.id}}/send_email/welcome">Send Welcome Email</a></li>
                      <li><a data-id="{{this.id}}" class="send_welcome_email" href="/oos/{{this.id}}/send_email/assignment">Send Assignment Email</a></li>
                    </ul>
                  </div>
                </div>
            </td>
            {{/user_is}}
          </tr>
        {{/each}}
    </tbody>
</table>
</section>