{{#with oos}}

<section class="oos outer">
    <h1>{{first_name}} {{last_name}} <span class="lighter_weight">&mdash;</span> OOS<span class="lighter_weight">#</span> {{oos_number}}</h1>

    <section class="jamboree_information">
        <h2>Assignment: {{Programs.0.name}}</h2>
        <p class="label">Recruited By</p>
        <p>{{recruited_by_na}}</p>

        <p class="label">Previous Experience</p>
        <p>{{previous_experience_na}}</p>

        <p class="label">Certifications</p>
        <p>{{certifications_na}}</p>

        <p class="label">Notes</p>
        <p>{{notes}}</p>

    </section>

    <section class="personal_information">
        <h2>Personal Information</h2>

        <p class="label">Address</p>
        <p>
            {{address}} <br>
            {{city}}, {{province}} <br>
            {{postal_code}} <br>
            {{country}}
        </p>

        <p class="label">Phone Numbers</p>
        <p>{{phone_number}}<br>{{cell_phone}}</p>

        <p class="label">Email</p>
        <p>{{email}}</p>

        <p class="label">Date of Birth</p>
        <p>{{dob}}</p>

    </section>

</section>

{{#user_can 'edit oos'}}
<section class="outer">
        <a href="/oos/{{id}}/edit" class="button">
            <i class="fa fa-edit"></i>Edit OOS
        </a>
</section>
{{/user_can}}

{{/with}}