<p><b>Hello, and welcome to the PJ 2015 Program Team!</b></p>

<p>Thank you so much for volunteering for PJ 2015 and welcome to the Program team. We are excited to have you on board with us! We have lots of different programs in the planning stages for PJ, with some requiring special skills, and others that just need to have someone who wants to have fun and who has some positive energy to share.</p>

<p>We would like to place you in an area where you would like to work in for the week; you may have skills or certifications that you want to use or perhaps you have a keen interest in doing something new or you want to develop new skills. Below is a list of the different programs we have planned that still have OOS vacancies, and what is involved in the activity.</p>

<p><b>It is imporant that you reply to this message prompty!</b> Please get back to me within the next ten days (by {{due_date}}), by return email, with your top 3 choices and we will do our best to accommodate you. <b>Please realize that we need to place about 300 people in program so if I don’t hear back from you by {{due_date}}, you will be placed in an arbitrary program.</b></p>

<ul>
{{#each programs}}

    <li><a href="http://program.pj2015.ca/programs/{{this.id}}">{{this.full_name_text}}</a>: {{this.short_description}}</li>

{{/each}}
</ul>

<p>We also need certified lifeguards; please indicate if you are qualified and list your certifications.</p>

<p>Thanks again for volunteering for PJ 2015 - we can't wait to see you at Camp Barnard this July!</p>

<p>
Yours in Scouting,<br/>
<br/>
Graham Ballantyne<br/>
PJ 2015 - Program<br/>
<a href="mailto:hello@grahamballantyne.com">hello@grahamballantyne.com</a><br/>
604-837-6698<br/>
